<h2>Getting Started</h2>
<p>You can create a new game by clicking 'New Game' in the menu at the top of the page.  If someone else has already created a game - you can search for that player and join the game he/she is playing.</p>
<h2>Rules &amp; Game Flow</h2>
<p>There are some basic rules you should know:</p>
<ul>
	<li>Corporations, Stocks Available, and Costs are listed on the right.</li>
	<li>Your tiles will be highlighted on the board.</li>
	<li>The last tile placed will be highlighted in yellow.</li>
	<li>Game play is in the following format:
		<ol>
			<li>Place 1 tile</li>
			<li>Take care of mergers, Choose new corp (if the tile you placed touches another tile that has not been assigned to a corp yet.)</li>
			<li>Purchase stock (you can buy up to 3 per turn)</li>
			<li>Pickup tile and end turn (You will receive a new tile when you end your turn.)</li>
		</ol>
	</li>
	<li>To place a tile, click on one of your highlighted tiles when it is your turn.</li>
	<li>To purchase stock in a corp on the board, click on that corporation when it is time to buy stock.</li>
	<li>If you are the host, you can add computer players</li>
	<li>If you are the host, and someone leaves you can choose to remove the person completely from the game (thus releasing their stocks back to the bank) or you can change that person to a computer and the computer will take care of their turn for them.</li>
	<li>When the [computer icon] is blue it is a human player, when it is green it is a computer player.</li>
</ul>
<h2>Tips &amp; Basic Strategy</h2>
<p>Strategy varies, but here are a few quick start tips for beginners to get you off on the right track.</p>
<ul>
	<li>You want to be the majority share holder in as many companies as you can.</li>
	<li>You only want to merge the companies of which you own majority (or minority if you are desperate for money).  This is the main way you make money to buy more stock throughout the game.</li>
	<li>Growing companies is a debatable topic.  You really want to grow your own companies but not usually while you are purchasing stock.  (each time you grow your company, the purchase price goes up.)</li>
</ul>