<div class="cards">
	<div class="card purchaseCard" ng-show="tools.corp.purchaseList().length">
		<h1 title="Purchases">Purchases</h1>
		<span class="badge">{{game.purchases}}</span>
		<p></p>
		<ul>
			<li ng-repeat="trans in tools.corp.purchaseList()"
				title="{{trans.corp.title}}"
				style="background-color:{{trans.corp.background}}; color:{{trans.corp.font}};">
				<span>{{tools.corp.value(trans.corp).cost | currency}}</span>
				<i class="fa fa-times pull-right" title="undo purchase" ng-click="tools.corp.purchaseUndo(trans)"></i>
			</li>
		</ul>
		<a class="btn btn-block btn-warning" ng-click="tools.player.endTurn(me())">End Turn</a>
	</div>
	<divs ng-show="!tools.ai.canPlaceTile(me()) && !tools.corp.purchaseList().length">
		<a class="btn btn-block btn-lg btn-warning" ng-click="tools.player.endTurn(me())">End Turn</a>
	</div>
</div>