<div ng-include="'partials/nav.html'"></div>
<div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-info">
					<div class="panel-heading"><h3>Capital Gain</h3></div>
					<div class="panel-body">
						<ul>
							<li>About</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<div class="well">
					<h2>Welcome!</h2>
					<p>Welcome to Capital Gain at CapitalTech.us  We hope you will enjoy playing this with your friends and family.  This was developed with the intent to enable you to have a great game night with family or friends even if the world takes you far from home.  The entire family can play around a board using a tablet at home while other members who are not present can join in on their laptops.</p>
					<p>This is a game of investment and acquisition.  You build organizations, grow them, and seek to merge them to make a bonus.</p>
					<div ng-include="'partials/instructions.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>